<h2 class="index_title">TEAMS</h2>

<% @teams = @teams.sort_by {|h| h[:name]} %>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="team_page">
  <% @teams.each do |team| %>
  <div class="team_links">
    <%= link_to team.name, team %>
  </div>
  <% end %>
</div>
