li {
  list-style-type: none;
}

body {
  padding-top: 50px;
}

.team_page {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 50px;
}

.team_links {
  width: 30%;
  margin: 5px;
}

.player_page {
  padding-top: 50px;
}
