li {
  list-style-type: none;
  /*padding-top: 10px;*/
}

.navpad {
  padding-top: 10px;
}

#button {
  margin-top: 17px;
}

.team_page {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 10px;
}

.team_links {
  width: 30%;
  margin: 5px;
}

.player_page {
  padding-top: 10px;
}

.logo > img {
  height: 70px;
  width: 70px;
}

header {
  padding-left: 30px;
  padding-right: 30px;
}

.links {
  padding-top: 10px;
}
